<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blogs</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
  <div class="ui fixed inverted menu ui container">
    <div class="ui container">
      <div class="header item">
        <i class="code icon"></i>
        Blog Site
      </div>
      <a href="/" class="item">
        Home
      </a>
      <a href="/blogs/new" class="item">
        New Post
      </a>
    </div>
  </div>
  <div class="ui main text container segment">
    <div class="ui huge header">
      New Blog
    </div>
    <form class="ui form" action="/blogs" method="post">
      <div class="field">
        <label for="">Title</label>
        <input type="text" name="title" placeholder="Blog Title">
      </div>
      <div class="field">
        <label for="">Image URL</label>
        <input type="text" name="image" placeholder="Image URL">
      </div>
      <div class="field">
        <label for="">Blog Content</label>
        <textarea name="body" rows="8" cols="80" placeholder="Write here..."></textarea>
      </div>
      <input type="submit" class="ui violet big basic button" placeholder="Submit">
    </form>
  </div>
</body>

</html>
